.list{
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-Shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 100px;
    width: 230px;
    overflow: hidden;
}

.btn{
    background-color: orangered;
   border: none;
  border-radius: 5px;
  color: #fff;
  width: 80px;
  height: 25px;
}
